@tailwind base;
@tailwind components;
@tailwind utilities;




#autotext {
    border-right: 0.15em solid deeppink;
    letter-spacing: 0.05em;
    animation: blink infinite step-end 1s;
}

@keyframes blink {
    from,
    to{
        border-color: transparent;
    }
    50% {
        border-color: deeppink;
    }
}
